body{
    background-color: gray;
    align-items: center;
}
input, button{
    width: 300px;
    height: 30px;
    margin: 10px;
}
.check{
    position: absolute;
    width: 5%;
}
.Toevoegen{
    background-color: green;
    border: 0px;
    cursor: pointer;
}
.flex{
    display: flex;
    flex-direction: column;
}

.last{
    padding-bottom: 50px;
}
.vraag{
    background-color: blanchedalmond;
}

